header {
  padding: 20px 70px;
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 1001;
}
header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-inner .main-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
header .header-inner .main-logo img {
  display: block;
}
header .header-right .gnb-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header .header-right .gnb-list li {
  position: relative;
}
header .header-right .gnb-list li .user-btn {
  border: none;
  background: none;
  cursor: pointer;
}
header .header-right .gnb-list li .user-btn span {
  position: absolute;
  width: 50px;
  text-align: center;
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}
header .header-right .gnb-list li .cart-num {
  position: absolute;
  top: -5px;
  right: -8px;
  background: #fff;
  width: 20px;
  height: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}
header.active {
  background: #fff;
}
header.active .header-inner .main-logo img {
  filter: invert(1);
}
header.active img {
  filter: invert(1);
}
header.active .gnb-list .cart-num {
  filter: invert(1);
}
header.active .header-right .gnb-list li .user-btn span {
  filter: invert(1);
}

header.active + .main-menu-wrap {
  background: #fff;
}
header.active + .main-menu-wrap .main-tab-menu li a {
  color: #000;
}
header.active + .main-menu-wrap .main-menu li a {
  color: #000;
}
header.active + .main-menu-wrap {
  color: #000;
}

.main-menu-wrap {
  position: fixed;
  top: 0px;
  left: 0;
  /* height: 0px; */
  height: 730px;
  background: rgba(34, 33, 33, 0.8);
  width: 100%;
  padding-top: 60px;
  z-index: 1000;
}
.main-menu-wrap.active {
  display: block;
}
.main-menu-wrap .main-tab-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  font-size: 20px;
}
.main-menu-wrap .main-tab-menu li {
  position: relative;
}
.main-menu-wrap .main-tab-menu li::after {
  content: "";
  position: absolute;
  display: block;
  width: 0%;
  height: 3px;
  background: #fff;
  top: 32px;
  transition: 0.3s;
  left: 50%;
  transform: translateX(-50%);
}
.main-menu-wrap .main-tab-menu li:hover::after {
  width: 100%;
}
.main-menu-wrap .main-tab-menu li:hover a {
  font-weight: bold;
}
.main-menu-wrap .main-tab-menu li a {
  color: #fff;
}
.main-menu-wrap .main-menu {
  margin-top: 30px;
  /* height: 0;
  overflow: hidden; */
  transition: 0.5s;
  color: #fff;
  font-size: 20px;
  position: relative;
  margin-left: 100px;
  font-weight: 300;
}
.main-menu-wrap .main-menu li {
  line-height: 2.7;
}
.main-menu-wrap .main-menu li:hover .sub {
  display: block;
}
.main-menu-wrap .main-menu li a {
  display: block;
  padding: 0 40px;
  color: #fff;
}
.main-menu-wrap .main-menu li a:hover {
  font-weight: bold;
}
.main-menu-wrap .main-menu li .sub {
  position: absolute;
  display: none;
  left: 300px;
  top: 0;
  z-index: 100;
  height: 500px;
}
.main-menu-wrap .main-menu li .sub li {
  width: 300px;
}
.main-menu-wrap .main-menu li .sub li:hover .third {
  display: block;
}
.main-menu-wrap .main-menu li .sub li .third {
  position: absolute;
  display: none;
  left: 300px;
  top: 0;
  width: 250px;
  height: 500px;
}
.main-menu-wrap .main-menu li .sub li .third li:hover {
  font-weight: bold;
}
.main-menu-wrap .menu-img-wrap .img-box {
  position: absolute;
  right: 95px;
  bottom: 50px;
}
.main-menu-wrap .menu-img-wrap .img-box::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}
.main-menu-wrap .menu-img-wrap .text-box {
  position: absolute;
  color: #fff;
  right: 115px;
  bottom: 70px;
  width: 450px;
}
.main-menu-wrap .menu-img-wrap .text-box img {
  width: 160px;
  margin: 15px 0;
}
.main-menu-wrap .menu-img-wrap .text-box .magazine-button a {
  display: block;
  padding: 10px 80px;
  border: 1px solid;
  text-align: center;
}

.login {
  padding-top: 60px;
}

.user-menu-wrap {
  position: fixed;
  height: 100vh;
  background: #fff;
  right: -9999px;
  width: 27%;
  z-index: 9999;
  border: 1px solid #ddd;
}
.user-menu-wrap .user-img {
  margin-top: 155px;
  margin-left: 60px;
}
.user-menu-wrap .user-img img {
  width: 170px;
}
.user-menu-wrap .user-name {
  font-size: 24px;
  font-weight: 500;
  margin-top: 100px;
  margin-left: 70px;
}
.user-menu-wrap .user-name strong {
  font-size: 45px;
  font-weight: bold;
}
.user-menu-wrap .line {
  width: 160px;
  border: 1px solid;
  margin: 0 auto;
  margin-top: 80px;
}
.user-menu-wrap .logout-btn {
  padding: 10px 30px;
  font-size: 14px;
  background: none;
  margin-top: 10px;
  margin-left: 75px;
  cursor: pointer;
}
.user-menu-wrap .info-list {
  margin-top: 80px;
  font-size: 20px;
  line-height: 2.5;
  margin-left: 80px;
  color: #303030;
}
.user-menu-wrap .info-list .info-sub-list {
  font-size: 16px;
  text-indent: 20px;
  color: #808080;
}
.user-menu-wrap .close-btn {
  position: absolute;
  top: 43px;
  right: 44px;
  cursor: pointer;
  transition: 0.3s;
}
.user-menu-wrap .close-btn img {
  width: 30px;
}
.user-menu-wrap.active {
  right: 0;
  transition: 0.3s;
}

.scroll-menu {
  position: absolute;
  display: none;
  background: #F9F9F9;
  width: 100%;
  top: 70px;
  left: 0;
  padding: 10px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  z-index: 1000;
}
.scroll-menu.active {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.scroll-menu li:hover {
  font-weight: bold;
}