.best {
    padding: 160px 0;

    .inner {
        width: 1440px;
        margin: 0 auto;

        .title-box {
            text-align: center;
            margin-bottom: 90px;
        }
    }
}

h1 {
    text-transform: uppercase;
}

.best-swiper-wrap {
    // padding: 0 240px;
    position: relative;

    .swiper {
        width: 100%;
    }

    .swiper-slide {
        height: auto;
    }

    .best-item {
        width: 100%;

        >a>img {
            width: 100%;
            aspect-ratio: 3 /4;
            object-fit: cover;
        }
    }
}

.product-list {
    padding-top: 20px;
    margin: 0;

    li {

        a {
            display: flex;
            align-items: center;
        }

        img {
            width: 30% !important;
            object-fit: cover;
            flex-shrink: 0;
            min-width: 0;
        }
    }

    .product-info {
        padding-left: 30px;

        .serise {
            font-size: 18px;
            font-weight: 700;
        }

        .name {
            font-size: 16px;
            padding-top: 10px;
        }

        .price {
            font-size: 20px;
            font-weight: 500;
            padding-top: 20px;
        }
    }
}