@use '../../variables.scss' as *;

.best {
    .inner {
        width: 1440px;
        margin: 0 auto;

        .title-box {
            text-align: center;
            margin-bottom: 60px;

            h2 {
                text-transform: uppercase;
                font-size: 42px;
                font-weight: 700;
                color: var(--main);
                margin-bottom: 12px;
            }

            p {
                font-size: 23px;
                color: var(--sub);
            }
        }
    }
}

.best-swiper-wrap {
    position: relative;

    .best-prev,
    .best-next {
        position: absolute;
        top: 36%;
        transform: translateY(-50%);
        z-index: 10;
        background: none;
        border: none;
        font-size: 60px;
        line-height: 1;
        cursor: pointer;
        color: var(--line)
    }

    .best-prev {
        left: 450px;
    }

    .best-next {
        right: 450px;
    }

    .swiper {
        width: 1440px;
    }

    .swiper-slide {
        height: auto;
    }

    .best-item {
        width: 100%;

        >a>img {
            width: 100%;
            aspect-ratio: 3 / 4;
            object-fit: cover;
        }
    }
}

.best-product-list {
    padding-top: 20px;
    margin: 0;

    a {
        display: flex;
        align-items: center;
        margin-top: 20px;

        img {
            width: 120px;
            object-fit: cover;
        }
    }

    .product-info {
        padding-left: 30px;
        color: var(--main);

        .serise {
            font-weight: 300;
            color: var(--sub);
        }

        .name {
            padding-top: 5px;
            font-size: 17px;
        }

        .price {
            font-weight: 500;
            padding-top: 13px;
            color: #CA1230;
        }
    }
}