@use '../../variables.scss';

.card-img-box {
    position: relative;

    .product-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // display: block;
        transition: opacity 0.3s ease;
    }

    .default {
        position: relative;
        z-index: 1;
    }

    .hover {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 2;
    }
}

.sub-card:hover {
    .hover {
        opacity: 1;
    }

    .default {
        opacity: 0;
    }
}

.card-text-box {
    .series-row {
        position: relative;
    }

    .product-info {
        text-align: center;

        .series-name {
            margin: 0;
            text-align: center;
            color: var(--sub);
            font-size: 16px;
            font-weight: 300;
            padding: 10px 0 0 0;
            margin-bottom: 10px;
        }

        .product-name {
            padding-bottom: 13px;
            color: var(--main);
            font-size: 17px;
        }

        .price {
            font-weight: 500;
            color: #CA1230;
        }
    }

    .heart-btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        margin-top: 20px;
    }

    .heart {
        position: absolute;
        inset: 0;
        width: 20px;
        height: 20px;
        display: block;
        transition: opacity 0.25s ease;
    }

    .heart-line {
        opacity: 1;
    }

    .heart-fill {
        opacity: 0;
    }

    .heart-btn.active .heart-line {
        opacity: 0;
    }

    .heart-btn.active .heart-fill {
        opacity: 1;
    }
}