.coordi-item-list-wrap {
    margin-top: 40px;
}

.coordi-item-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    gap: 24px;
}

.coordi-item {
    display: block;
    color: #303030;
    text-decoration: none;
    transition: transform 0.3s ease;
    transform: translateY(0);

    img {
        display: block;
        width: 100%;
        max-width: 220px;
        margin: 0 auto 16px;
    }
    //width: 200px;
    margin-top: 30px;

    .name {
        // font-size: 16px;
        font-weight: 500;
    }

    .subName {
        width: 200px;
        margin: 0 auto;
        // font-size: 18px;
        // font-weight: 600;
        padding: 10px 0;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .price {
        font-size: 16px;
        color: #CA1230;
        padding-top: 8px;
    }

    &:hover {
        transform: translateY(-10px);
.coordi-item {
    img {
        transition: transform 0.3s ease;
    }

    &:hover {
        img {
            transform: translateY(-4px);
        }
    }
}