.shoppable-area-wrap {
    position: relative;
    //background: yellowgreen;
    //border: 2px solid blue;
    max-width: 1440px;
    margin: 0 auto;

    //margin: 10px;
    .tab-menu-list {
        display: flex;
        //justify-content: space-evenly;
        justify-content: center;

        // li {
        //     background: yellow;
        // }
    }

    .tab-menu-name {
        padding: 10px 18px;
        border: none;
        background: transparent;
        color: #888;
        cursor: pointer;
        position: relative;
        //font-size: 18px;
        //margin-top: 100px;
    }

    .tab-menu-name::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: #111;
        margin: 6px auto 0;
        transition: 0.3s;
    }

    // .tab-menu-name.active {
    //     color: #111;
    //     font-weight: 700;
    // }

    // .tab-menu-name.active::after {
    //     width: 100%;
    // }

    .tab-active {
        color: #111;
        font-weight: 700;
    }

    .tab-active::after {
        width: 100%;
    }

}

.dot-and-box-wrap {
    //position: relative;
    top: 0;
    left: 0;
    background: goldenrod;
}

.shop-btn-area {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    width: 60px;
    height: 60px;
}

// .dot-area {
//     background: black;
// }
.dot-area {
    //will-change: opacity, visibility;
    box-sizing: border-box;
    // transition: border-color 250ms ease-in-out, opacity 250ms ease-in-out, visibility 250ms ease-in-out;
    // transform: scale(0.999);
    // padding: 0;
    width: 1.3rem;
    height: 1.3rem;
    border: 2px solid; // background-clip: padding-box;
    position: absolute;
    // background-color: #ddd;
    // opacity: 0;
    // //visibility: hidden;
    border-radius: 64px;
    line-height: .5;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.55);
}



.dot-area::after {
    content: "";
    position: relative;
    display: block;
    background: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.55);
    width: .65rem;
    height: .65rem;
    border-radius: 64px;
    transition: transform 250ms ease-in-out;

}

.dot-area:hover::after {
    // width: .45rem;
    // height: .45rem;
    transform: scale(0.8);

}

// .dot-area:hover::before {
//     top: -0.7rem;
//     left: -0.7rem;
//     right: -0.7rem;
//     bottom: -0.7rem;
// }

.dot-area::before {
    content: "";
    position: absolute;
    top: -0.6rem;
    left: -0.6rem;
    right: -0.6rem;
    bottom: -0.6rem;
    display: block;

    // background: black;
    // opacity: 50%;
    // border-radius: 50%;
    // border: 2px solid #ddd;
}



.price-tag-active {
    position: relative;
    display: block;

}

.price-tag-hidden {
    position: relative;
    display: none;
}

.dot-active {
    display: block;
}

.dot-inactive {
    display: none;
}

.shop-btn-active {
    opacity: 0.9;
    // border: 1px solid black;
    // border-radius: 50%;
}

.price-tag-inner {
    display: flex;


    .img-info {
        width: 70px;
        margin: auto 0;

        img {
            transform: scale(0.5);
            // justify-content: center;
            // align-items: center;
        }
    }

    .txt-info {
        width: 120px;
        font-size: 0.8rem;
        margin: auto 0;

        .item-name {
            color: #5c5c5c;
            font-size: 0.7rem;
        }

        .item-price {
            font-weight: 600;
        }

        >p {
            white-space: nowrap;
            /* 줄바꿈 방지 */
            overflow: hidden;
            /* 영역 밖 숨김 */
            text-overflow: ellipsis;
            /* 말줄임표 처리 */
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
        }

    }

    .button-area {
        margin: auto 5px;
        background: blanchedalmond;
    }

    // position: absolute;
    // background: yellowgreen;
    // opacity: 50%;
    //top: 30px;
    //top: -0.125rem;
    //top
    //transform: translateY(-100%) translateY(-0.2rem);
    //top-left
    //transform: translateX(50%) translateY(-100%);
    //top-right
    //transform: translateX(-50%) translateX(-0.5rem) translateY(-100%);
    //left
    //transform: translateX(-50%) translateX(-1rem) translateY(-1.5rem);
    //rignt
    //transform: translateX(50%) translateX(1rem) translateY(-1.5rem);
    //bottom
    //transform: translateY(1.5rem);
    //bottom-left
    //transform: translateX(50%) translateX(0.2rem) translateY(1.5rem);
    //bottom-right
    //transform: translateX(-50%) translateY(1.5rem);
    background: white;
    opacity: 70%;
    //width: 200px;
    display: flex;
    //flex-direction: column;
}