.new-collection {
    width: 100%;

    .inner {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .thumbnail {
        position: relative;
        width: 100%;
    }

    .thumbnail img {
        display: block;
        width: 100%;
        height: auto;
    }

    .text-box {
        position: absolute;
        left: 80px;
        top: 40%;
        transform: translateY(-50%);
        color: #fff;

        h1 {
            text-align: left;
            margin: 5px 0;
            font-size: 40px;
        }

        p {
            text-align: left;
            font-size: 18px;
        }

        .btn {
            position: absolute;
            left: 0;
            width: 200px;
            border: 1.4px solid #fff;
            padding: 15px;
            color: #fff;
            margin: 30px 0;
            transition: 0.3s;

            &:hover {
                border: 1.4px solid #030303;
                background: #030303;
                color: #fff;
            }
        }

    }
}


.item-wrap {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 200px 0;

    img {
        width: 283px;
    }

    .series {
        font-size: 20px;
        font-weight: 600;
    }

    h1 {
        font-size: 16px;
        color: #606060;
    }

    h2 {
        font-size: 13px;
        color: #909090;
    }

    span {
        font-size: 16px;
        font-weight: 600;
        color: #CA1230;
    }
}