.space-coordi-wrap {
    .inner {
        max-width: 1400px;
        margin: 0 auto;
    }

    .title-box {
        text-align: center;
        margin-top: 150px;
        margin-bottom: 50px;

        h2 {
            font-size: 42px;
            font-weight: 700;
            margin-bottom: 12px;
            color: var(--main);
        }

        p {
            font-size: 23px;
            color: var(--sub)
        }
    }
}

@media (max-width: 1024px) {
    .space-coordi-wrap {
        .inner {
            max-width: 100%;
            padding: 0 20px;
        }

        .title-box {
            margin-top: 80px;

            h2 {
                font-size: 32px;
            }

            p {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 768px) {
    .space-coordi-wrap {
        .inner {
            padding: 0 16px;
        }

        .title-box {
            margin-top: 50px;
            margin-bottom: 30px;

            h2 {
                font-size: 24px;
            }

            p {
                font-size: 14px;
            }
        }
    }
}