.order-for-guest-wrap {
    margin-top: 100px;

    .inner {
        max-width: 1440px;

        .page-title {
            text-align: center;
            font-size: 1.8rem;
            font-weight: 700;
        }
    }
}