.store-list-item-wrap {
    padding: 12px 14px;
    margin-left: 0;

    p {
        margin: 0;
    }
}

.store-item-top {
    color: #808080;
    font-size: 12px;
    margin-bottom: 6px;
}

.store-item-main {
    .store-main-info {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 6px;
    }

    .store-sub-info {
        color: #808080;
        font-size: 13px;
        gap: 6px;
        line-height: 1.4;

        .addr {
            display: flex;
            gap: 6px;
            margin-bottom: 5px;
            //padding-bottom: 10px;
        }

        .phone {
            display: flex;
            gap: 6px;
            // margin-bottom: 10px;
            //padding-bottom: 10px;
        }

        img {
            width: 14px;
            height: 14px;
        }
    }
}
