@use "../../App.scss" as g;

.banner-img {
    width: 100%;
    height: 500px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.banner-img {
    position: relative;
}
.banner-text {
    position: absolute; 
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 80px;
    font-weight: 500;
}
.sub-page {

    .breadcrumb-list {
        @include g.myFlex($jc: null, $gap: 20px);
        cursor: pointer;
        color: #555;
        padding-top: 80px;
        padding-left: 150px;        
    }

    h1 {
        text-align: center;
        // margin-top: 80px;
    }

    .sort-wrap {
        @include g.myFlex($jc: end, $gap: 20px);
        padding-bottom: 20px;
        padding-top: 100px;

        button {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 16px;
            color: 949494;;

            &.active {
                font-weight: bold;
                color: #CA1230;
            }
        }
    }

    .sub-product-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
        gap: 30px;
        // padding: 130px 0;
    }

    .pagination {
        @include g.myFlex($jc: center, $gap: 20px);
        padding: 100px 0;
        li {
            button {
                background: none;
                border: 1px solid #ccc;
                padding: 10px 13px;
                cursor: pointer;
                font-size: 14px;
                

                &.active {
                    font-weight: bold;
                    font-size: 16px;
                    color: #CA1230;
                }
            }
        }
    }

    .menu-tab {
        @include g.myFlex($jc: center);
        margin-top: 20px;
        cursor: pointer;

        li {
            &:hover a {
                font-weight: bold;
                border-bottom: 3px solid;
            }

            &.active a {
                font-weight: bold;
                border-bottom: 3px solid;
            }
        }
    }

    .sub-line {
        border: 1px solid #c9c9c9;
        margin-top: 130px;
    }

    .md-pick-wrap {
        text-align: center;
        margin-top: 90px;

        

        .md-pick {
            @include g.myFlex();

            .img-box {
                img {
                    width: 300px;
                    height: 100%;
                    object-fit: cover;
                }
            }


            .sub-series-name {
                color: #606060;
                font-size: 18px;
                font-weight: 600;
                margin-top: 30px;
            }

            .product-name {
                font-weight: 400;
                font-size: 16px;
                color: #606060;
                margin-bottom: 15px;
            }

            .price {
                font-size: 16px;
                font-weight: 600;
                color: #CA1230;
            }
        }
    }
}