@use "./mypagemenu.scss" as g;

.mypage {
    margin-top: 100px;
    padding: 80px 0;


    .inner {
        max-width: 1440px;

        margin: 0 auto;

        .content {
            .page-title {
                font-size: 32px;
                font-weight: 700;
                text-align: center;
            }

        }

    }
}


.wish-list {

    //margin-top: 30px;


}

.empty-content-wrap {
    .show-empty-info {
        text-align: center;
        font-size: 1.5rem;
        margin: 30px 0;
    }

    .show-more-btn {
        border: 2px solid black;
        background: #f1f1f1;
        border-radius: 30px;
        width: 150px;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
        cursor: pointer;
    }

    .show-more-btn:hover {
        background: black;
        color: white;
        transition: 0.5s;
    }

}



.checked-wish-area {
    padding: 10px 0;
    display: flex;

}

.wish-check-box {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid #ddd;
    margin: 10px;
}

.wish-check-box:after {
    content: "v";
    font-size: 16px;
    color: white;
    display: none;
    text-align: center;
}

.wish-check-box:hover {
    background: #a5a5a5;
}

.wish-check-box:checked {
    background: black;
}


.wish-check-box:checked::after {
    display: block;
}

.wish-list-title {
    margin-top: 50px;
    display: flex;
    border-top: 1px solid #ddd;
    padding: 10px 0;

    .wish-left {
        margin: auto 0;
    }

    .wish-right {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-left: auto;

        .wish-control-btn {
            height: 40px;
            width: 60px;
            line-height: 40px;
            margin: auto 10px;
            border: 2px solid black;
            border-radius: 30px;
            text-align: center;
            background: #f1f1f1;
        }

        .wish-control-btn:hover {
            background: black;
            color: white;
            transition: 0.5s;
        }

        .checked-wish-area {
            background: yellowgreen;

            .control-wish-list {
                display: flex;
                flex-direction: row-reverse;
                gap: 10px;

                .checked-wish-thumbnail {
                    img {
                        width: 60px;
                        aspect-ratio: 1/1;
                    }
                }
            }
        }

    }
}

.wish-item {

    display: flex;
    align-items: center;
    //padding: 30px 0;
    border-top: 1px solid #ddd;
    width: 100%;
    justify-content: space-between;
    //width: fit-content;
    background: skyblue;

    .wish-item-left {
        display: flex;
        align-items: center;
        gap: 20px;
        flex: 1 1 auto;
        min-width: 0;
    }

    .wish-item-right {
        display: flex;
        align-items: center;
        gap: 20px;
        flex: 0 1 auto;
        min-width: 0;
    }

    .wish-name-info {
        //flex-basis: 40%;

        background: yellow;
        min-width: 0;
        width: 210px;





        .series-name {
            padding: 10px;
        }

        .product-name {
            color: black;
            padding: 10px;
            font-weight: 600;
            font-size: 1.2rem;
            white-space: nowrap;
            /* 줄바꿈 금지 */
            overflow: hidden;
            /* 넘치는 텍스트 숨김 */
            text-overflow: ellipsis;
            /* 말줄임표(...) 표시 */
        }

    }

    .wish-img-info {
        //flex-basis: 20%;
        padding: 30px 0;

        img {
            width: 100%;
            max-width: 200px;
            height: auto;
            aspect-ratio: 1/1.06;

            display: block;
        }
    }

    .wish-price-info {
        //flex-basis: 20%;
    }

    .wish-button {
        //flex-basis: 20%;
        text-align: center;

        .detail-btn,
        .delete-btn {

            border: 1px solid black;
            margin: 10px;
            padding: 10px 0;
            //width: 205px;
            width: 100%;
            min-width: 205px;
            margin: auto 0;
            margin-bottom: 5px;
        }

        .wish-btn:hover {
            background: black;
            color: white;
            //margin: 10px;
            //padding: 10px 0;
            width: 100%;
            min-width: 205px;
            transition: 0.5s;
        }


    }
}

// 반응형

/* 큰 데스크탑 */
@media (max-width: 1440px) {

    .mypage {


        .inner {

            display: flex;
            flex-direction: column;

            .content {
                .page-title {
                    font-size: 32px;
                    font-weight: 700;
                    text-align: center;
                }

            }

        }
    }

    .wish-item {
        position: relative;

        //width: fit-content;


        .wish-item-left {
            display: flex;
            align-items: center;
            gap: 20px;
            flex: 1 1 auto;
            min-width: 0;

        }

        .wish-item-right {
            position: absolute;
            right: 20%;
            display: flex;

            align-items: center;
            gap: 20px;
            flex: 0 1 auto;
            min-width: 0;
        }

        .wish-name-info {
            //flex-basis: 40%;
            background: yellow;
            min-width: 0;


            .series-name {
                padding: 10px;
            }

            .product-name {
                color: black;
                padding: 10px;
                font-weight: 600;
                font-size: 1.2rem;
            }

        }

        .wish-img-info {
            //flex-basis: 20%;
            padding: 30px 0;

            img {
                width: 100%;
                max-width: 200px;
                height: auto;
                aspect-ratio: 1/1.06;

                display: block;
            }
        }

        .wish-price-info {
            //flex-basis: 20%;
        }

        .wish-button {
            //flex-basis: 20%;
            text-align: center;

            .detail-btn,
            .delete-btn {

                border: 1px solid black;
                margin: 10px;
                padding: 10px 0;
                //width: 205px;
                width: 100%;
                //min-width: 190px;
                margin: auto 0;
                margin-bottom: 5px;
            }

            .wish-btn:hover {
                background: black;
                color: white;
                //margin: 10px;
                //padding: 10px 0;
                width: 100%;
                //min-width: 190px;
                transition: 0.5s;
            }


        }
    }

}

/* 일반 노트북 */
@media (max-width: 1200px) {
    .wish-item {
        position: relative;

        //width: fit-content;


        .wish-item-left {
            display: flex;
            //flex-direction: column;
            //align-items: center;
            gap: 20px;
            flex: 1 1 auto;


        }

        .wish-item-right {
            position: absolute;
            right: 30%;
            display: flex;

            align-items: center;
            gap: 20px;
            flex: 0 1 auto;
            min-width: 0;
        }

        .wish-name-info {
            //flex-basis: 40%;
            background: yellow;
            min-width: 0;


            .series-name {
                padding: 10px;
            }

            .product-name {
                color: black;
                padding: 10px;
                font-weight: 600;
                font-size: 1.2rem;
            }

        }

        .wish-img-info {
            //flex-basis: 20%;
            padding: 30px 0;

            img {
                width: 100%;
                max-width: 200px;
                height: auto;
                aspect-ratio: 1/1.06;

                display: block;
            }
        }

        .wish-price-info {
            //flex-basis: 20%;
        }

        .wish-button {
            //flex-basis: 20%;
            text-align: center;

            .detail-btn,
            .delete-btn {

                border: 1px solid black;
                margin: 10px;
                padding: 10px 0;
                //width: 205px;
                width: 100%;
                //min-width: 190px;
                margin: auto 0;
                margin-bottom: 5px;
            }

            .wish-btn:hover {
                background: black;
                color: white;
                //margin: 10px;
                //padding: 10px 0;
                width: 100%;
                //min-width: 190px;
                transition: 0.5s;
            }


        }
    }
}

// /* 작은 노트북 / 태블릿 가로 */
@media (max-width: 1024px) {
    .wish-item {
        position: relative;

        //width: fit-content;


        .wish-item-left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            //margin-left: 10px;
            //position: absolute;
            //align-items: center;
            gap: 5px;
            flex: 1 1 auto;


        }

        .wish-item-right {
            position: absolute;
            right: 40%;
            display: flex;

            align-items: center;
            gap: 20px;
            flex: 0 1 auto;
            min-width: 0;
        }

        .wish-name-info {
            //flex-basis: 40%;
            background: yellow;
            min-width: 0;


            .series-name {
                padding: 10px;
            }

            .product-name {
                color: black;
                padding: 10px;
                font-weight: 600;
                font-size: 1.2rem;
            }

        }

        .wish-img-info {
            //flex-basis: 20%;
            padding: 30px 0;

            img {
                width: 100%;
                max-width: 200px;
                height: auto;
                aspect-ratio: 1/1.06;

                display: block;
            }
        }

        .wish-price-info {
            //flex-basis: 20%;
        }

        .wish-button {
            //flex-basis: 20%;
            text-align: center;

            .detail-btn,
            .delete-btn {

                border: 1px solid black;
                margin: 10px;
                padding: 10px 0;
                //width: 205px;
                width: 100%;
                //min-width: 190px;
                margin: auto 0;
                margin-bottom: 5px;
            }

            .wish-btn:hover {
                background: black;
                color: white;
                //margin: 10px;
                //padding: 10px 0;
                width: 100%;
                //min-width: 190px;
                transition: 0.5s;
            }


        }
    }
}

/* 태블릿 */
@media (max-width: 768px) {
    .wish-item {
        position: relative;

        //width: fit-content;

        display: flex;
        //height: 700px;

        .wish-item-left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            //margin-left: 10px;
            //position: absolute;
            //align-items: center;
            gap: 5px;
            flex: 1 1 auto;


        }

        .wish-item-right {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 60%;
            bottom: 0;
            display: flex;

            align-items: center;
            gap: 20px;
            flex: 0 1 auto;
            min-width: 0;
        }

        .wish-name-info {
            //flex-basis: 40%;
            background: yellow;
            min-width: 0;


            .series-name {
                padding: 10px;
            }

            .product-name {
                color: black;
                padding: 10px;
                font-weight: 600;
                font-size: 1.2rem;
            }

        }

        .wish-img-info {
            //flex-basis: 20%;
            padding: 30px 0;

            img {
                width: 100%;
                max-width: 200px;
                height: auto;
                aspect-ratio: 1/1.06;

                display: block;
            }
        }

        .wish-price-info {
            //flex-basis: 20%;
        }

        .wish-button {
            //flex-basis: 20%;
            text-align: center;

            .detail-btn,
            .delete-btn {

                border: 1px solid black;
                margin: 10px;
                padding: 10px 0;
                //width: 205px;
                width: 100%;
                //min-width: 190px;
                margin: auto 0;
                margin-bottom: 5px;
            }

            .wish-btn:hover {
                background: black;
                color: white;
                //margin: 10px;
                //padding: 10px 0;
                width: 100%;
                //min-width: 190px;
                transition: 0.5s;
            }


        }
    }
}

// /* 큰 모바일 */
// @media (max-width: 576px) {}

// /* 작은 모바일 */
// @media (max-width: 480px) {}