.banner-img {
  width: 100%;
  height: 500px;
}
.banner-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sub-page .breadcrumb-list {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  color: #555;
  padding-top: 80px;
  padding-left: 150px;
}
.sub-page h1 {
  text-align: center;
  margin-top: 80px;
}
.sub-page .sub-product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 30px;
  padding: 130px 0;
}
.sub-page .menu-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}
.sub-page .menu-tab li:hover a {
  font-weight: bold;
  border-bottom: 3px solid;
}
.sub-page .menu-tab li.active a {
  font-weight: bold;
  border-bottom: 3px solid;
}
.sub-page .sub-line {
  border: 1px solid #c9c9c9;
  margin-top: 130px;
}
.sub-page .md-pick-wrap {
  text-align: center;
  margin-top: 90px;
}
.sub-page .md-pick-wrap .md-pick {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.sub-page .md-pick-wrap .md-pick .img-box img {
  width: 300px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sub-page .md-pick-wrap .md-pick .sub-series-name {
  color: #606060;
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
}
.sub-page .md-pick-wrap .md-pick .product-name {
  font-weight: 400;
  font-size: 16px;
  color: #606060;
  margin-bottom: 15px;
}
.sub-page .md-pick-wrap .md-pick .price {
  font-size: 16px;
  font-weight: 600;
  color: #CA1230;
}