@mixin myFlex($jc: space-between, $ai: center, $gap: 30px) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
}

html,
body {
    overflow-x: hidden;
    max-width: 100%;
}