* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

html {
    scrollbar-gutter: stable;
    font-family: 'Pretendard', sans-serif;
}


.hero-scroll-section {
    position: relative;
    height: 220vh;
    margin-top: -100px;
}

.hero-video {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .hero-overlay {
        position: absolute;
        inset: 0;
        background: #000;
        pointer-events: none;
        z-index: 1;
    }

    .hero-text {
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%);
        z-index: 2;
        color: #fff;

        .hero-title {
            font-size: 50px;
            text-align: center;
            font-weight: 600;
            margin-bottom: 18px;
            line-height: 1.1;

            color: transparent;
            -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7);

            background-image: linear-gradient(#fff, #fff);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 0% 100%;
            -webkit-background-clip: text;
            background-clip: text;

            opacity: 0;
            transform: translateY(24px);
            animation:
                heroTitleReveal 0.8s ease forwards,
                heroTitleFillCenter 1s ease 0.2s forwards;
        }

        .hero-desc {
            font-size: 37px;
            text-align: center;
            font-weight: 200;
            line-height: 1.6;
            opacity: 0;
            transform: translateY(20px);
            animation: heroDescReveal 0.8s ease 1.4s forwards;
        }
    }
}

@keyframes heroTitleReveal {
    from {
        opacity: 0;
        transform: translateY(24px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes heroTitleFillCenter {
    from {
        background-size: 0% 100%;
    }

    to {
        background-size: 100% 100%;
    }
}

@keyframes heroDescReveal {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}